<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            Rango says here is the about page.<br />
            This tutorial has been put together by Malachy James McGinnity <br />
            <img src="{% static 'images/rango.jpg' %}"
                alt="Picture of Rango" />
            <strong>{{ boldmessage }}</strong><br />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
        </div>
    </body>
    
</html>